@import "tailwindcss";
@tailwind utilities;

@variant dark (&:where(.dark, .dark *));

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}
